.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    
    padding: 10px;
    background-color: rgb(52, 52, 52);
    color: white;
    border-top: 2px solid black;
}
.app-header h1 {
    margin: 0;
}
.app-header nav {
    display: flex;
    gap: 10px;
}