.book-details {
  display: grid;
  padding: 10px;
  margin-block-start: 10px;
  border: 1px solid black;
}
 img {
  width: 200px;
  box-shadow: inset;
  justify-self: center;
}

.book-details button {
  justify-self: end;
}

.book-details span {
    font-weight: bold;
}

.red {
    color: red;
}
.green {
    color: green;
}