* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: var(--gray3);
  background-color: rgb(235, 235, 235);
}

h2 {
  text-align: center;
}

form {
  overflow: hidden;
  display: grid;
  justify-content: space-around;
  border: 1px solid black;
  padding: 15px;
}
input {
  float: right;
  clear: both;
  width: 13.2em;
}
select {
  overflow: hidden;
  float: right;
  clear: both;
  width: 13.2em;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  justify-self: baseline;
}

/* Dont stretch my Media */

img,
embed,
video,
object {
  max-width: 100%;
}

/* Simple and useful CSS Debugging Technique */

.debug * {
  outline: 1px solid gold;
}
