* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: var(--gray3);
  background-color: rgb(250, 250, 250);
}

a {
  /* text-decoration: none; */
  color: unset;
}

/* Dont stretch my Media */

img,
embed,
video,
object {
  max-width: 100%;
}

/* Simple and useful CSS Debugging Technique */

.debug * {
  outline: 1px solid gold;
}
