button {
    cursor: pointer;
    background-color: var(--clr2bg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    border: 0;
    border-radius: 4px;   
}

button:hover {
    background-color: var(--clr2);
    color: red;
    transition: .3s;
}
input:focus {
    background-color: var(--clr1bg);
    transition: background-color 1s;
}

